.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    padding: 40px;
    border-radius: 15px;
    background-image: linear-gradient(
      to top,
      #3da8b6 0%,
      #f8290044 100%
    );
    font-size: large;
    border: 1px solid #fff;
  }
}
